docs/tools/*
tools/addmusick/asm/*
tools/addmusick/SPCs/*.spc
tools/addmusick/stats/*.txt
tools/addmusick/music/originals/*
tools/addmusick/samples*
tools/addmusick/temp*
tools/addmusick/1DF9/*
tools/addmusick/1DFC/*
tools/addmusick/Visualizations/*
tools/addmusick/*.pl
tools/addmusick/Addmusic_*.txt
tools/gps/block_boilerplate.asm
tools/gps/rom.txt
tools/gps/shared.asm
tools/flips/flipscfg.bin
tools/lunar_magic/usertoolbar*
tools/uberasmtool/*.pdb
tools/uberasmtool/asm/work/*.asm
tools/*/list.txt
example.asm
sysLMRestore
workspace/temp/*
conflicts.txt
failed_save.txt
.dependencies
.callisto
.is_setup
.first_build_done
temp/*
temp.*
*.*~
*.bps
*.chm
*.chw
*.dll
*.exe
*.extmod
*.lnk
*.lrp
*.sfc
*.smc
*.smc~
*.spc
*.zip
# Keep particular files
!.gitkeep
tools/addmusick/asm/!UserDefines.asm
tools/addmusick/1DFC/!Death Prelude.txt