AddmusicK_*/temp
flipscfg.bin
Backup/Levels/20*
Backup/Map16/20*
Backup/Palettes/20*
sysLMRestore/*.smc
sysLMRestore/*.lrp
sysLMRestore/readme.txt
UberASM/asm/work/*.asm
*.*~
*.7z
*.extmod
*.lrp
*.msc
*.mw2
*.mwt
*.sfc
*.smc
*.spc
*.ssc
*.zip