# Ignore callisto files
conflicts.txt
failed_save.txt
.dependencies
.callisto
# Ignore init files
.is_setup
.first_build_done
# Ignore particular file types
*.*~
*.7z
*.bps
*.dll
*.exe
*.lnk
*.sfc
*.smc
*.zip
# Keep particular files
!.gitkeep