body {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  padding-bottom: 4em;
  font-family: Arial, sans-serif;
  font-size: 1em;
}
  body.wide {
    max-width: 1024px;
  }

p, li, th, td {
  line-height: 140%;
}


pre {
  font-size: 1.09em;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  user-select: all;
  line-height: 1.3;
}

u.dir,
code {
  font-size: 1.09em;
  padding: 2px 3px;
  background: rgba(0,0,0,.05);
  border-radius: 2px;
}

u.dir {
  text-decoration: none;
  font-family: monospace;
}

blockquote {
  font-style: italic;
}
table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  text-align: center;
}
th {
  background-color: rgba(0,0,0,.05);
  font-size: 0.93em;
}
td,th {
  border: 1px solid rgba(0,0,0,.15);
  padding: 4px 8px;
}
td.has-table > table {
  margin-bottom: 0;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

img {
  margin: 20px auto;
  max-width: 800px;
  display: block;
}

ul li {
  margin: 4px 0;
}

hr {
  background: rgba(0,0,0,.1);
  height: 1px;
  border: none;
  margin: 2em 0;
}
